.content2{
    margin: 20px auto;
    width: 1000px;
    border: 1px solid #999;
    padding: 10px;
}
.content2 h1{
    color: red;
    text-align: center;
}
.content2 ul {
    margin: 23px;
}
.content2 ul li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}
.content2 ul li a img{
    width: 230px;
    height: 180px;
}