.content{
    margin: 20px auto;
    width: 300px;
    border: 1px solid #999999;
    padding: 10px;
}
.content h1{
    color: red;
    text-align: center;
}
.content .image{
    margin: 20px 0;
    text-align: center;
}
.content .image a{
    display: inline-block;
    background-color: #686f97;
    padding: 3px 10px;
    text-decoration: none;
    color: #fff;
}.content img{
    height: 200px;
    width: 300px;
 }