*{
    margin: 0px;
    padding: 0px;

}
.content{
    margin: 20px auto;
    width: 600px;
    border: 1px solid #999;
    padding: 10px;
    background: url("imga/ban.jpg") no-repeat ;
    min-height: 200px;
}
.content h1{
    color: red;
    text-align: center;
}
.content ul {
    margin: 23px 0px 0px 100px;
}
.content ul li {
    margin-top: 5px;
    list-style: decimal inside;
}